@model IEnumerable<ProjetoPadrao.Dados.Entidades.Categoria>

<ul>
@foreach (var categoria in Model)
{
    <li data-jstree="@Json.Encode(new { type = (categoria.CategoriaPai != null) ? "categoria" : "home", id = categoria.IdCategoria })">
        @categoria.Nome
        @if (categoria.Subcategorias.Any())
        {
            @Html.Partial("ArvoreCategorias", categoria.Subcategorias)
        }
    </li>
}
</ul>